/* NProgress mặc định style */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #6366f1; /* Màu chủ đạo của bạn (Tailwind Indigo-500) */

    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;
    height: 3px;
}

/* Spinner (nếu cần) */
#nprogress .spinner {
    display: none;
}
